<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Virtberry</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
      {% set navigation_bar = [
          ('/vm', 'vm', 'Vms'),
          ('/host', 'host', 'Host'),
          ('/storage', 'storage', 'Storage'),
          ('/preferences', preferences, 'Preferences')
      ] -%}
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Virtberry</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif%}><a href="{{ href }}">{{ caption }}</a></li>
          {% endfor %}
        </ul>

      <a href="/logout" class="btn btn-default navbar-btn navbar-right" >Logout</a>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    {% for category, message in messages %}
	<div class="alert {{ category }} alert-dismissable">
	{#Cross for Close#}
          <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times</a>
		{{ message}}
        </div>
    {% endfor %}
      </div>
    </div>
  {% endif %}
{% endwith %}


    {% block content %}{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed .min-->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/Confirmation/bootstrap-confirmation.min.js"></script>
    </div>

      <script>
      $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        // other options
      });
      </script>
  </body>
</html>
